<script setup>
import { ref, defineProps } from 'vue'

defineProps(['title'])
const visible = ref(false)
</script>

<template>
  <section>
    <div @click="visible = !visible" class="head">
      <h2>{{ title }}</h2>
      <button>
        <i v-if="visible" class="material-icons">keyboard_arrow_up</i>
        <i v-else class="material-icons">keyboard_arrow_down</i>
      </button>
    </div>
    <div class="body" v-if="visible">
      <slot />
    </div>
  </section>
</template>

<style scoped>
section {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.head {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  background-color: rgb(59 130 246);
  border-radius: 5px;
}

.head h2 {
  padding: 10px;
}

.head button {
  margin-right: 20px;
  float: right;
  background-color: rgb(59 130 246);
  color: whitesmoke;
  border: none;
}

.body {
  padding: 10px;
}
</style>
