<script setup>
import { defineProps } from 'vue'
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  PointElement,
  LineElement,
  LineController,
  CategoryScale,
  LinearScale
} from 'chart.js'

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  PointElement,
  LineElement,
  LineController,
  CategoryScale,
  LinearScale
)

const props = defineProps(['loaded', 'title', 'labels', 'bar', 'line'])

const chartData = {
  labels: props.labels,
  datasets: []
}

if (props.bar !== undefined) {
  chartData.datasets.push({
    backgroundColor: 'rgb(20 184 166)',
    order: 1,
    data: props.bar
  })
}

if (props.line !== undefined) {
  chartData.datasets.push({
    backgroundColor: 'rgb(59 130 246)',
    borderColor: 'rgb(59 130 246)',
    tension: 0.3,
    type: 'line',
    order: 0,
    data: props.line
  })
}

const chartOptions = {
  responsive: true,
  plugins: {
    title: {
      display: true,
      text: props.title
    },
    legend: {
      display: false
    }
  }
}
</script>

<template>
  <Bar v-if="loaded" :options="chartOptions" :data="chartData" />
</template>
