<script setup>
import axios from 'axios';
import { onMounted, ref } from 'vue';
import ItemContainer from './ItemContainer.vue';

const url = `${import.meta.env.VITE_URL}/records/`
const records = ref([])

function getRecords() {
  axios.get(url).then((response) => {
    records.value = response.data
  })
}

onMounted(() => {
  getRecords()
})
</script>

<template>
  <ItemContainer title="Records">
    <table>
      <tr>
        <th>Datetime</th>
        <th>Lat</th>
        <th>Long</th>
      </tr>
      <tr v-for="record in records" :key="record.id">
        <td>{{ new Date(record.datetime).toLocaleString() }}</td>
        <td>{{ parseFloat(record.latitude).toFixed(3) }}</td>
        <td>{{ parseFloat(record.longitude).toFixed(3) }}</td>
      </tr>
    </table>
  </ItemContainer>
</template>

<style scoped>
ul {
  list-style-type: none;
  overflow: hidden;
  margin: 20px;
}

li button {
  float: right;
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  font-weight: normal;
}
</style>
