<script setup>
import { ref } from 'vue'
import axios from 'axios'
import ItemContainer from './ItemContainer.vue'

const url = `${import.meta.env.VITE_URL}/record/`
const record = ref({})

function onSubmit() {
  record.value.datetime = formatDateLong(new Date(record.value.datetime))
  axios.post(url, record.value).then((response) => {
    if (response.status === 201) {
      clear()
      alert('Record created')
    }
    else {
      alert('Error creating record')
    }
  })
}

function autofill() {
  record.value.datetime = formatDate(new Date())
  navigator.geolocation.getCurrentPosition(fillLocation)
}

function clear() {
  record.value = {}
}

function zeroPad(data) {
  return ('0' + data).slice(-2)
}

function formatDate(date) {
  return (
    date.getFullYear() +
    '-' +
    zeroPad(date.getMonth() + 1) +
    '-' +
    zeroPad(date.getDate()) +
    'T' +
    zeroPad(date.getHours()) +
    ':' +
    zeroPad(date.getMinutes())
  )
}

function formatDateLong(date) {
  const d = formatDate(date)
  return d + ':00'
}

function fillLocation(position) {
  record.value.latitude = position.coords.latitude
  record.value.longitude = position.coords.longitude
}
</script>

<template>
  <ItemContainer title="New Record">
    <div>
      <button class="mainbutton" @click="autofill">Autofill</button>
      <button class="mainbutton" @click="clear">Clear</button>
    </div>

    <label for="datetime">Timestamp:</label>
    <input id="datetime" type="datetime-local" v-model="record.datetime" />

    <label for="lat">Lat:</label>
    <input id="lat" type="number" step="any" v-model="record.latitude" />

    <label for="long">Long:</label>
    <input id="long" type="number" step="any" v-model="record.longitude" />

    <button class="mainbutton" @click="onSubmit">Submit</button>
  </ItemContainer>
</template>

<style scoped>
input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 10px;
}

div {
  margin-bottom: 20px;
}
</style>
