<script setup>
import axios from 'axios';
import { onMounted, ref } from 'vue';
import ItemContainer from './ItemContainer.vue';
import MultiChart from './MultiChart.vue';

const url = `${import.meta.env.VITE_URL}/records/stats`

const hours = [...Array(24).keys()]
const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
const months = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]
const years = ref([])

const loaded = ref(false)
const count = ref(0)
const houraverage = ref([])
const dotwaverage = ref([])
const monthaverage = ref([])
const hourcount = ref([])
const dotwcount = ref([])
const monthcount = ref([])
const yearcount = ref([])

function getStats() {
  loaded.value = false
  axios.get(url).then((response) => {
    count.value = response.data.count
    houraverage.value = response.data.houraverage.map((x) => x.Count)
    dotwaverage.value = response.data.dotwaverage.map((x) => x.Count)
    monthaverage.value = response.data.monthaverage.map((x) => x.Count)
    hourcount.value = response.data.hourcount.map((x) => x.Count)
    dotwcount.value = response.data.dotwcount.map((x) => x.Count)
    monthcount.value = response.data.monthcount.map((x) => x.Count)
    yearcount.value = response.data.yearcount.map((x) => x.Count)
    years.value = response.data.yearcount.map((x) => x.Part)

    loaded.value = true
  })
}

onMounted(() => {
  getStats()
})
</script>

<template>
  <ItemContainer title="Stats">
    <p v-if="loaded">Total Records: {{ count }}</p>
    <MultiChart title="Hour" :loaded="loaded" :labels="hours" :bar="hourcount" :line="houraverage" />
    <MultiChart title="Day of the Week" :loaded="loaded" :labels="days" :bar="dotwcount" :line="dotwaverage" />
    <MultiChart title="Months" :loaded="loaded" :labels="months" :bar="monthcount" :line="monthaverage" />
    <MultiChart title="Years" :loaded="loaded" :labels="years" :bar="yearcount" />
  </ItemContainer>
</template>
