<script setup>
import { ref, onMounted } from 'vue'
import axios from 'axios'
import ItemContainer from './ItemContainer.vue'

const url = 'https://europe-west1-timestampapp.cloudfunctions.net/map-app'
const html = ref('')

function getMap() {
  axios.get(url).then((response) => {
    html.value = response.data
  })
}

onMounted(() => {
  getMap()
})
</script>

<template>
  <ItemContainer title="Map">
    <iframe :srcdoc="html"></iframe>
  </ItemContainer>
</template>

<style scoped>
iframe {
  width: 100%;
  aspect-ratio: 2 / 1;
  border: none;
}
</style>
