<script setup>
import { ref } from 'vue';
import RecordForm from './components/RecordForm.vue';
import RecordMap from './components/RecordMap.vue';
import RecordStats from './components/RecordStats.vue';
import RecordTable from './components/RecordTable.vue';

const refreshKey = ref(0)

function refresh() {
  refreshKey.value += 1
}
</script>

<template>
  <nav>
    <h1>Timestamp App</h1>
    <button class="refreshbutton" @click="refresh">Refresh &#8634;</button>
  </nav>

  <RecordForm />
  <RecordStats :key="refreshKey" />
  <RecordMap :key="refreshKey" />
  <RecordTable :key="refreshKey" />
</template>

<style>
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  color: whitesmoke;
  background-color: rgb(20 184 166);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mainbutton {
  color: whitesmoke;
  background-color: rgb(59 130 246);
  border: none;
  padding: 10px;
  margin-right: 15px;
  text-align: center;
  font-size: 16px;
  border-radius: 7px;
  width: 150px;
}

.mainbutton:hover {
  background-color: rgb(96, 151, 241);
}

.mainbutton:active {
  background-color: rgb(20 184 166);
}

.refreshbutton {
  color: whitesmoke;
  background-color: rgb(20 184 166);
  border: 1px solid;
  padding: 10px;
  margin-right: 15px;
  text-align: center;
  font-size: 16px;
  border-radius: 7px;
  width: 150px;
  float: right;
}

.refreshbutton:hover {
  background-color: rgb(18, 128, 115);
}

.refreshbutton:active {
  background-color: rgb(20 184 166);
}
</style>
